{% extends "base.html" %}
{% block body %}

<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1 class="page-name">About Us</h1>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">about us</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about section">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6"
        data-aos="fade-right"
        data-aos-anchor-placement="top-center"
      >
        <img class="img-responsive" src="/static/images/about/about.jpg" />
      </div>
      <div class="col-md-6">
        <h2
          class="mt-40"
          data-aos="fade-left"
          data-aos-anchor-placement="bottom-bottom"
        >
          About Our Shop
        </h2>
        <p data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">
			Welcome to Fashion, where style meets sophistication. We are more than just a destination for fashion; we are a curator of trends, a purveyor of quality, and a hub of inspiration for the modern individual.
        </p>
        <p data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">
			At Fashion, we believe that clothing is an extension of one's personality, a means of self-expression that transcends boundaries. Whether you're looking to make a statement with bold prints and vibrant colors or seeking timeless elegance in classic silhouettes, we have something to suit every taste and occasion.
        </p>
        <p data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">
			Our carefully curated collections feature the latest designs from emerging talents and renowned fashion houses alike. From casual everyday essentials to show-stopping evening wear, each piece is selected with meticulous attention to detail and craftsmanship.
        </p>
        <a
          href="/download_file"
          target="_blank"
          class="btn btn-main mt-20"
          data-aos="fade-left"
          data-aos-anchor-placement="bottom-bottom"
          >Download Company Profile</a
        >
      </div>
    </div>
    <div class="row mt-40">
      <div
        class="col-md-3 text-center"
        data-aos="flip-right"
        data-aos-anchor-placement="top-center"
      >
        <img src="/static/images/about/awards-logo.png" />
      </div>
      <div
        class="col-md-3 text-center"
        data-aos="flip-right"
        data-aos-anchor-placement="top-center"
      >
        <img src="/static/images/about/awards-logo.png" />
      </div>
      <div
        class="col-md-3 text-center"
        data-aos="flip-right"
        data-aos-anchor-placement="top-center"
      >
        <img src="/static/images/about/awards-logo.png" />
      </div>
      <div
        class="col-md-3 text-center"
        data-aos="flip-right"
        data-aos-anchor-placement="top-center"
      >
        <img src="/static/images/about/awards-logo.png" />
      </div>
    </div>
  </div>
</section>
<section class="team-members">
  <div class="container">
    <div
      class="row"
      data-aos="fade-down"
      data-aos-anchor-placement="top-center"
    >
      <div class="title"><h2>Team Members</h2></div>
    </div>
    <div class="row">
      <div
        class="col-md-3"
        data-aos="flip-left"
        data-aos-anchor-placement="top-center"
      >
        <div class="team-member text-center">
          <img class="img-circle" src="/static/images/team/team-1.jpg" />
          <h4>Jonathon Andrew</h4>
          <p>Founder</p>
        </div>
      </div>
      <div
        class="col-md-3"
        data-aos="flip-left"
        data-aos-anchor-placement="top-center"
      >
        <div class="team-member text-center">
          <img class="img-circle" src="/static/images/team/team-2.jpg" />
          <h4>Adipisci Velit</h4>
          <p>Developer</p>
        </div>
      </div>
      <div
        class="col-md-3"
        data-aos="flip-left"
        data-aos-anchor-placement="top-center"
      >
        <div class="team-member text-center">
          <img class="img-circle" src="/static/images/team/team-3.jpg" />
          <h4>John Fexit</h4>
          <p>Shop Manager</p>
        </div>
      </div>
      <div
        class="col-md-3"
        data-aos="flip-left"
        data-aos-anchor-placement="top-center"
      >
        <div class="team-member text-center">
          <img class="img-circle" src="/static/images/team/team-1.jpg" />
          <h4>John Fexit</h4>
          <p>Shop Manager</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="section video-testimonial bg-1 overly-white text-center mt-50"
  data-aos="flip-down"
  data-aos-anchor-placement="top-center"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Video presentation</h2>
        <a
          class="play-icon"
          href="https://online.fliphtml5.com/templates/efye/index.html#p=1"
          data-toggle="lightbox"
        >
          <i class="tf-ion-ios-play"></i>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
